
{% extends 'base.html' %}



    
{% load static %}
{% block content %}
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    </head>
    <style>
            
        body {
            font-family: Arial, sans-serif;
            background-color: #1d1b1b;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    
        h2 {
            color: #007bff;
            margin-top: 20px;
            
        }
    
        form {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    
        label {
            display: block;
            margin-top: 20px;
        }
    
        input,
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
    
        button {
            background-color: #28a745;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        textarea {
            resize: vertical;
        }
    </style>
    <body>
    
    <h2>ENTER YOUR PARCEL DETAILS</h2>
    
    <form action="{% url 'receive' %}" method="post">
        {% csrf_token %}
       
        <input type="text" id="parcelId" name="parcelId" placeholder="Parcel Id" required>
        <input type="Email" id="recEmail" name="recEmail" required placeholder="Email"> 
        <input type="text" id="recName" name="recName" required placeholder="Recipient's Name">
        <input type="number" id="recContact" name="recContact" required placeholder="Recipient's Contact">
        <input type="date" id="delDate" name="delDate" required placeholder="Delivery Date"><br>
        <label for="courier-select" class="labe">Select Courier:</label>
        <select id="company" name="company" required>
           <option value="amazon">Amazon</option>
           <option value="flipkart">Flipkart</option>
           <option value="myntra">Myntra</option>
           <option value="nykaa">Nykaa</option>
           <option value="meesho">Meesho</option>
           <option value="others">Others</option>
        <br><br>
       </select>
        <button><a href="{% url 'dashboard'%}">Add </button>
            
           <div class="logout-container">
               <button class="logout-btn" onclick="location.href='/logout'">Logout</button>
           </div>
      </div>
    </div>C:\Users\mayur\OneDrive\Desktop\twmp2\CaC2\Courier\templates\user\receive.html
    </div>
{% endblock content %}