{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
    <title>CMS</title>
   
</head>
<body>

    <header>
      
        <label class="logo">CourierConnecT</label>
      <nav>
          <a href="#">HOME</a>
          <a href="#">ABOUT</a>
          <a href="#">SERVICES</a>
          <a href="#">CONTACT</a>
          <a href="#">Track order</a>
        </nav>
      </header>
     {% block content%}

     {% endblock content%}

    {% comment %} footer {% endcomment %}
      
</body>
