<!-- your_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Combined Graphs</title>

</head>
<body>
    <nav ><style > ADMIN PANEL </style></nav>
    <h1>Graph 1: Names and Company</h1>
    <img src="data:image/png;base64,{{ image_base64_1 }}" alt="Graph 1">

    <h1>Graph 2: Registration Date vs Company</h1>
    <img src="data:image/png;base64,{{ image_base64_2 }}" alt="Graph 2">

    <h1>Graph 3: Pie Chart of Company Counts</h1>
    <img src="data:image/png;base64,{{ image_base64_3 }}" alt="Graph 3">
</body>
</html>


