{%  extends "base.html"  %}
{% load static %}
{% block content %}
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{% static "styles.css" %}">
<script src="script.js"></script>

</head>
<body>
  <div class="header">   
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"
        style="font-size:32px;">
     </i>   
    </label>
    <label class="logo">CourierConnecT</label>
    <ul> 
      <li><a class="active" href="{% url 'home' %}">Home</a></li>
      <li><a class= "hover"href="{% url 'About' %}">About</a></li>
      <li><a class= "hover"href="{% url 'Service' %}">Services</a></li>
      <li><a class= "hover"href="{% url 'Contact' %}">contact</a></li>
        <div class="dropdown">
            <button class="dropbtn">Track Order
              <a class= "hover" href="staff.html">Staff</a>
            </button>
            </div>
    </ul>
   </nav> 
{% endblock content %}