<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHRIST_COURIER_CONNECT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
   <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"
        style="font-size:32px;">
     </i>   
    </label>
    <label class="logo">CourierConnecT</label>
    <ul> 
        <li><a class="active" href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="contact.html">contact</a></li>
        <div class="dropdown">
            <button class="dropbtn">Track Order</button>
            <div class="dropdown-content">
              <a href="staff.html">Staff</a>
              <a href="reci.html">Recipent</a>
            </div>
          </div>
    </ul>
   </nav> 
    <section id="index.html">
      
    </section>
</body>
</html>