<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"
        style="font-size:32px;">
     </i>   
    </label>
    <label class="logo">CourierConnecT</label>
    <ul> 
        <li><a class="active" href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="contact.html">contact</a></li>
        <div class="dropdown">
            <button class="dropbtn">Track Order</button>
            <div class="dropdown-content">
              <a href="staff.html">Staff</a>
              <a href="reci.html">Recipent</a>
            </div>
          </div>
    </ul>
   </nav> 